@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Inter", sans-serif;
}
.container{
    height: 75%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toDo-app{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: 3px solid rgba(255,255,255,0.18);
    border-radius: 25px;
    backdrop-filter: blur(10px);
}
.tital{
    margin-top: 30px;
    font-size: 2.2rem;
    font-weight: bold;
    color: aliceblue;
}
.input-container{
    width: 90%;
    /* border: 3px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
#input{
    width: 80%;
    padding: 15px;
    border-radius: 22px;
    border: none;
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}
#input:hover{
    background: rgba(152, 179, 253, 0.3);
}
#input::placeholder {
  color: aliceblue;
}
.btn{
    border: none;
    width: 15%;
    height: 90%;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    transition: all 0.2s ease;
    padding: 8px;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
    background: rgba(152, 179, 253, 0.3);
}
.plus{
    filter: invert();
}
.list-container{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
    margin-bottom: 30px;
}

.taskList{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.list{
    width: 80%;
    list-style: none;
    display: block;
    color: rgb(252, 252, 252);
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: space-between;
    border-radius: 30px;
    transition: all 0.3s ease;
    margin-left: 20px;
}

.checkbox{
    width: 5%;
    min-width: 25px;
    height: 30px;
}
.li-div{
    height: 60px;
    display: flex;
    flex-direction: row;
    background: rgba(113, 151, 254, 0.3);
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 15px;
}
#empty-img{
    width: 60%;
    height: 100%;
    margin-right: 30px;
}
.btn-con{
    width: 120px;
    display: flex;
    justify-content: end;
    overflow: hidden;
}
.edit{
    cursor: pointer;
    margin-right: 5px;
    height: 30px;
    transition: all 0.3s ease;
}
.edit:hover{
    transform: scale(1.1);
}
.delete{
    cursor: pointer;
    height: 30px;
    transition: all 0.3s ease;
}
.delete:hover{
    transform: scale(1.1);
}
